@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:checked + label {
    border-width: 1px;
    border-color: rgb(168, 168, 168);
    box-shadow: none;
    background-color: rgb(220 252 231);
  }